<div class="card">
  <div class="card-body login-card-body">
    <p class="login-box-msg">Restablecimiento de contraseña</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <div class="input-group mb-3">
        <label for="emailInput" class="sr-only">Correo electrónico</label>
        <input id="emailInput"
               formControlName="email"
               type="email"
               class="form-control"
               [validate]="f.email"
               placeholder="Correo electrónico"
               required
               autofocus>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
        <app-error-message-container [control]="f.email" errorMessagesKeyName="email"></app-error-message-container>
      </div>

      <!-- Error message -->
      <div *ngIf="errorMessage" class="callout callout-danger">
        <h5>Error!</h5>
        <p>{{errorMessage}}</p>
      </div>

      <!-- Success message -->
      <div *ngIf="successMessage" class="callout callout-success">
        <h5>Correo electrónico enviado!</h5>
        <p>{{successMessage}}</p>
      </div>

      <button type="submit"
              [disabled]="!form.valid"
              class="btn btn-primary btn-block">Restablecer contraseña</button>

    </form>

    <p class="mt-2">
      <a routerLink="/auth/login">Iniciar sesión</a>
    </p>

  </div>
  <!-- /.login-card-body -->

  <div *ngIf="showLoadingState" class="overlay">
    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
  </div>
  <!-- /.overlay -->

</div>
